<main class="main">
  <div class="toolbar">
    <mat-toolbar class="bg-primary">
      <img src="logo2.png" width="48" height="48">
      <span>YuBi Dev</span>
    </mat-toolbar>
  </div>
  <div class="content">
<!--    <div style="width: 80%; margin-left: 10%; padding-top: 20px; padding-bottom: 20px;">-->
<!--      <div class="app-icon">-->
<!--        <img src="icon-lines.png" width="128" height="128">-->
<!--        <span>Lines</span>-->
<!--      </div>-->
<!--    </div>-->
    <router-outlet/>
  </div>
</main>
