<div style="width: 80%; margin-left: 10%; padding-bottom: 20px; font-size: 14pt;">
  <h1>Privacy Policy</h1>
  Developer built the "Lines" app as an Ad Supported app. This app is provided by at no cost and is intended for use as
  is.
  <br />
  This privacy policy is used to inform you regarding policies with the collection, use, and
  disclosure of Personal Information if anyone decided to use this Service.

  <h3>1. Overview</h3>

  The app uses advertising (and in app payments) to make revenue. The app uses third party
  libraries for advertising which may collect and share personal information with third
  parties.
  <br />
  Links to privacy policies of third party service providers used in the app
  <br />
  <a href="https://www.google.com/policies/privacy/">Google Play Services</a>
  <br />
  <a href="https://support.google.com/admob/answer/6128543">AdMob</a>

  <h3>2. Sharing Your Information</h3>

  The developer will share personal information with third parties only in the ways that are
  described in this privacy statement.
  <br />
  Your personal information may be disclosed:
  <ul>
    <li>As required by law, such as to comply with a subpoena, or similar legal process.</li>
    <li>To any other third party with your prior consent to do so.</li>
  </ul>

  <h3>3. What information are collected and why</h3>

  <h4><li>3.1 AdMob</li></h4>

  AdMob, is Google's mobile app advertising platform designed specifically for app
  developers. In order to understand Google's use of Data, consult Google's partner policy.

  <br />
  Personal Data:
  <br />
  <ul>
    <li>Online identifiers, including cookie identifiers</li>
    <li>IP addresses</li>
    <li>Device identifiers</li>
    <li>Client identifiers</li>
    <li>unique device identifiers for advertising (Google Advertiser ID or IDFA, for example)</li>
    <li>Usage Data.</li>
  </ul>

  Retention:
  <br />
  Google anonymizes the log data by removing part of the IP address (after 9 months) and cookie information (after 18 months)

  Online resources:
  <ul>
    <li><a href="https://www.google.com/policies/technologies/ads/">Privacy Policy</a></li>
    <li><a href="https://www.google.com/settings/ads">Opt out</a></li>
    <li><a href="https://privacy.google.com/businesses/adsservices/">Service Information</a></li>
    <li><a href="https://policies.google.com/technologies/partner-sites">Partner policy</a></li>
    <li><a href="https://support.google.com/admob/answer/9012903">Ad technology providers</a></li>
  </ul>

  <h4><li>3.2 Google Play Services</li></h4>

  Google Play Services offers APIs and security services to the Android developer ecosystem.
  Google acts as a data controller for any personal data processed in Google Play Services,
  and offers user notices and consents about the use of personal data in the service’s user
  interface in Android.

  Collected informations:
  * Device information
  * Log information
  * Location information
  * Unique application numbers
  * Local storage
  * Cookies and similar technologies

  Google use the collected information to provide, maintain, protect and improve Google's
  services, to develop new ones, and to protect Google and the users. Google also use this
  information to offer you tailored content – like giving you more relevant search results
  and ads.

  Online resources:
  <ul>
    <li><a href="https://policies.google.com/terms">Google Terms of Service</a></li>
    <li><a href="https://policies.google.com/privacy">Google Privacy Policy</a></li>
  </ul>

  <h3>4. Security</h3>

  I am striving to use commercially acceptable means of protecting your Personal
  Information. But remember that no method of transmission over the internet, or method of
  electronic storage is 100% secure and reliable, and I cannot guarantee its absolute
  security.


  <h3>5. Links to Other Sites</h3>

  This Service may contain links to other sites. If you click on a third-party link, you
  will be directed to that site. Note that these external sites are not operated by me.
  Therefore, I strongly advise you to review the Privacy Policy of these websites. I have
  no control over and assume no responsibility for the content, privacy policies, or
  practices of any third-party sites or services.

<!--  <h3>6. Children’s Privacy</h3>-->

<!--  These Services do not address anyone under the age of 16. I do not knowingly collect-->
<!--  personally identifiable information from children under 16. In the case I discover that-->
<!--  a child under 16 has provided me with personal information, I immediately delete those-->
<!--  informations. If you are a parent or guardian and you are aware that your child has-->
<!--  provided personal information, please contact me so that I will be able to do necessary-->
<!--  actions.-->

  <h3>7. Distribution</h3>

  The only official channel for distribution of this app are: <a href="https://play.google.com/">Google Play Store</a>
  <br />
  Any other mode of distribution is not official and thus, is not maintained by the developer.
  This privacy policy is effective to distribution made on official channel only.

  <h3>8. Changes to This Privacy Policy</h3>

  This policy may be updated from time to time.

  This policy may be updated from time to time. Contact me if you have any questions or suggestions about my Privacy
  Policy.
  <br />
  <br />

  <i>beloborodov.y.e&#0064;gmail&#0046;com</i>
</div>
